.btnClearCart{
    border:none; 
    background-color: white;
}

.CartProdContainer{
    display: flex;
    flex-direction: row;
}

.finalPurchase{
    margin-top: 4rem;
    margin-left: 3rem;
}

.lastContainer{
    margin-left: 1rem;
}