.container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 2rem;
    margin-top: 1rem;
}
.btnCount{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;  
    display: flex;
    margin: 1rem;
    padding: 0.5rem 0.5rem;
    align-items: center;
}
.btnCount:hover{
    background-color: rgb(241, 245, 238);
    transition: 200ms;   
}

.btnAddCount{
    border-radius: 5px;
    
}
.btnAddCount:hover{
    background-color: rgb(255, 255, 255);
    transition: 200ms; 
    transform: translateY(0.5);
}
.btnAddCount:active {
    background-color: rgb(146, 180, 119);
    transition: 20ms;
    
}
.text{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: larger;
}

